

.assistant-container {
    text-align: center;
    margin-bottom: 60px;
    padding: 10px 0 !important;
  }
  .assistant-wrapper {
    width: 100%;
  }
  
  .assistant {
    background-color: #003060;
    color: #ffffff;
    padding: 3%;
    border-radius: 20px;
  }

  .assistant .assistant-card-body {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    text-align: center;
  }
  
  .assistant .assistant-card-body .searchBox {
    width: 50%;
    margin: 20px auto;
    position: relative;
  }
  .assistant .assistant-card-body .searchBox input {
    width: 80%;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
  }
  .assistant .assistant-card-body .searchBox button {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
  }
  .assistant .assistant-card-body .searchBox .questions-list {
    width: 78%;
    background-color: #eaeaea;
    color: #012a54;
    border: none;
    padding: 8px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: -10px;
    outline: none;
    text-align: left;
    position: absolute;
    z-index: 11;
  }
  .assistant .assistant-card-body .searchBox .questions-list .questions-item {
    display: block;
    cursor: pointer;
  }

  .assistant .assistant-card-body .searchBox .answers-list {
    width: 85%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 8px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 0px;
    outline: none;
    text-align: center;
  }



  
  .assistant .assistant-card-image img {
    width: auto;
    height: 78px;
    margin-top: 10px;
  }
  
    .assistant h2 {
      color: #ffffff;
      height: auto;
      line-height: normal;
      margin: auto;
      text-transform: none;
      white-space: normal;
      font-size: 30px;
      font-weight: 700;
      font-style: initial;
      width: auto;
      display: inline-block;
      padding: 0;
    }
    .assistant p {
      font-size: 16px;
      font-weight: 400;
      margin: auto;
      color: #ffffff;
      display: inline-block;
      margin-right: 15px;
    }
    .assistant p img {
      width: auto;
      height: 35px;
      display: inline-block;
      vertical-align: bottom;
    }

    .assistant a.button {
      background-color: #dd0100;
      color: #ffffff;
      border-style: solid;
      border: 1px solid #dd0100;
      text-align: center;
      text-transform: uppercase;
      width: fit-content;
      cursor: pointer;
      padding: 10px 25px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 25px;
      margin-top: 15px;
      margin-bottom: 0;
      text-decoration: none;
    }
    
    .assistant > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    
    .assistant > ul > li {
      border: none;
      background-color: transparent;
      position: relative;
    }
  
    
    .assistant > ul > li img {
      width: auto;
      height: 35px;
      display: inline-block;
      vertical-align: bottom;
    }
    
    /*
  .assistant .assistant-card-body .searchBox .search-img {
    width: 45px;
    height: 45px;
    background: url("ai-assistant.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    border-radius: 40px;
    vertical-align: bottom;
    margin-left: 10px;
  }
  */
    
    @media (max-width: 1300px) {
      .assistant-container {
        padding: 0 25px !important;
      }
    }
    @media (max-width: 900px) {
      .assistant h2 {
        font-size: 25px;
      }
    }
    @media (max-width: 600px) {
      .assistant > ul > li { 
        width: 100%;
        display: inline-block;
        padding: 1%;
        box-sizing: border-box;
      }
    }