

.brands-block-wrapper {
    background-color: #f5f5f5;
    width: 100%;
    max-width: initial !important;
}
.brands-block {
    margin: 6% auto 0;
    padding: 1% 0 5%;
    text-align: center;
}
.brands-block img {
    width: 100%;
    height: auto;
}
.brands-block h2 {
    color: #e68636;
    font-size: 2.488rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 5% 0;
}

@media (max-width: 900px) {
    .brands-block h2 {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .brands-block h2 {
        font-size: 25px;
    }
}