footer {
  padding: 2rem;
  background-color: #004a7f;
  color: #ffffff;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

