footer {
  padding: 4rem 2rem;
  background-color: #003060;
  color: #ffffff;
  font-size: var(--body-font-size-s);
}
footer .footer {
  max-width: 1400px;
  margin: auto;
}
footer .footer p {
  margin: 0;
}
footer .footer p:nth-child(1) {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
footer .footer a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

